// ========================================
// variables
// ========================================

$font-default: 'Nunito Sans';
$font-futura: 'Futura';

$light: 100;
$regular: 400;
$bold: 700;

$white: #fff;
$grey-200: #d6d6d6;
$grey-100: #333;
$black: #000;

$gold: #cca876;

$transition-primary: 300ms ease-in-out;
