// ========================================
// variables
// ========================================

$default-font: 'Nunito Sans';

$white: #fff;
$black: #000;

$gold: #cca876;

$transition-primary: 300ms ease-in-out;
