// ========================================
// variables
// ========================================

$font-default: 'Nunito Sans';
$font-futura: 'Futura';
$font-noto: 'Noto Sans';
$font-makeshift: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$light: 100;
$regular: 400;
$bold: 700;

$white: #fff;
$grey-300: #a2a2a2;
$grey-200: #d6d6d6;
$grey-100: #333;
$black: #000;

$gold: #cca876;

$transition-primary: 300ms ease-in-out;
$transition-secondary: 800ms ease-in-out;
$transition-slow: 1500ms ease-in-out;
