// ========================================
// image-text
// ========================================

.image-text {
	position: relative;
	isolation: isolate;
}

.image-text--grey {
	background-color: $grey-400;
}

.image-text--cut {
	@include desktop {
		.image-text__decoration-holder {
			top: 0;
		}
		.image-text__holder {
			padding: 12.5vw 0 14.4vw;
		}
	}
	@include tablet {
		.image-text__decoration-holder {
			top: 0;
		}
		.image-text__holder {
			padding: 87px 0 120px;
		}
	}
	@include phone {
		.image-text__decoration-holder {
			top: 0;
		}
		.image-text__holder {
			padding: 70px 0 94px;
		}
	}
}

.image-text--reverse {
	@include desktop {
		.image-text__parallax {
			transform: translateX(-50%) rotateY(180deg);
		}
		.image-text__image {
			order: 2;
		}
		.image-text__content {
			order: 1;
			padding-left: 0;
			max-width: 397px;
		}
	}
}

.image-text__parallax {
	position: absolute;
	z-index: -1;
	overflow: hidden;
	@include desktop {
		max-width: 1920px;
		width: 100%;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
	@include small {
		inset: 0;
	}
}

.image-text__parallax-holder {
	position: relative;
	height: 100%;
}

.image-text__hexagon {
	filter: drop-shadow(10px 20px 20px rgba($black, 0.15));
	position: absolute;
}

.image-text__hexagon--one {
	bottom: 16%;
	left: 32%;
	transform: rotate(30deg);
	.image-text__hexagon-shape {
		width: 259px;
		height: 300px;
		background-color: $white;
	}
}

.image-text__hexagon--two {
	bottom: 58%;
	left: 45.5%;
	transform: rotate(30deg);
	.image-text__hexagon-shape {
		width: 134px;
		height: 155px;
		background-color: $white;
	}
}

.image-text__hexagon--three {
	bottom: 57%;
	left: 30%;
	transform: rotate(30deg);
	.image-text__hexagon-shape {
		width: 134px;
		height: 155px;
	}
	@include large {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.07);
		}
	}
	@include phone {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.015);
		}
	}
}

.image-text__hexagon--four {
	bottom: 54%;
	left: 16%;
	transform: rotate(30deg);
	.image-text__hexagon-shape {
		width: 134px;
		height: 155px;
	}
	@include large {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.07);
		}
	}
	@include phone {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.015);
		}
	}
}

.image-text__hexagon--five {
	bottom: 48%;
	left: 14%;
	transform: rotate(30deg);
	.image-text__hexagon-shape {
		width: 134px;
		height: 155px;
	}
	@include large {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.07);
		}
	}
	@include phone {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.015);
		}
	}
}

.image-text__hexagon--six {
	bottom: 17%;
	left: 4%;
	transform: rotate(30deg);
	.image-text__hexagon-shape {
		width: 173px;
		height: 200px;
	}
	@include large {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.07);
		}
	}
	@include phone {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.015);
		}
	}
}

.image-text__hexagon--seven {
	bottom: 30%;
	left: 13%;
	transform: rotate(30deg);
	.image-text__hexagon-shape {
		width: 87px;
		height: 100px;
	}
	@include large {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.07);
		}
	}
	@include phone {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.015);
		}
	}
}

.image-text__hexagon--eight {
	bottom: 26%;
	left: 15%;
	transform: rotate(30deg);
	.image-text__hexagon-shape {
		width: 87px;
		height: 100px;
		background-color: rgba($black, 0.07);
	}
	@include phone {
		.image-text__hexagon-shape {
			background-color: rgba($black, 0.015);
		}
	}
}

.image-text__hexagon-shape {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.image-text__decoration-holder {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	@include desktop {
		top: 150px;
	}
	@include small {
		top: 120px;
	}
}

.imagfe-text__decoration {
	position: relative;
}

.image-text__line {
	position: absolute;
	width: 3px;
	background-color: $gold;
	border-radius: 100vmax;
}

.image-text__line--middle {
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.image-text__line--left,
.image-text__line--right {
	top: 50%;
	transform: translateY(-50%);
	@include desktop {
		height: 32px;
	}
	@include small {
		height: 16px;
	}
}

.image-text__line--left {
	left: 0;
}

.image-text__line--right {
	right: 0;
}

.image-text__holder {
	display: grid;
	justify-items: center;
	align-items: center;
	@include desktop {
		grid-template-columns: 1fr 1fr;
		padding: 19.2vw 0 10.93vw;
	}
	@include small {
		padding: 205px 0 68px;
	}
}

.image-text__image {
	min-width: 0;
	width: 100%;
	@include desktop {
		width: 97%;
	}
	@include tablet {
		max-width: 580px;
	}
	@include phone {
		max-width: 80vw;
	}
}

.image-text__content {
	> :last-child {
		margin-bottom: 0;
	}
	@include desktop {
		padding-left: 20%;
		max-width: 527px;
		justify-self: start;
	}
	@include tablet {
		padding: 0 20px;
	}
	@include small {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@include phone {
		padding: 28px 20px 0;
	}
}

.image-text__heading {
	color: $grey-100;
	@include large {
		margin-bottom: 35px;
	}
	@include small {
		text-align: center;
	}
	@include phone {
		margin-bottom: 25px;
	}
}

.image-text__paragraph {
	color: $grey-300;
	@include large {
		margin-bottom: 35px;
	}
	@include small {
		text-align: center;
	}
	@include phone {
		margin-bottom: 25px;
	}
}

.image-text__line-link {
	color: $gold;
}
