// ========================================
// modal-cards
// ========================================

.modal-cards {
	position: relative;
	background: linear-gradient(180deg, #141516 1%, #242424);
	@include desktop {
		padding: 164px 0 425px;
	}
	@include tablet {
		padding: 150px 0 386px;
	}
	@include phone {
		padding: 100px 0 170px;
	}
}

.modal-cards--cut {
	@include desktop {
		.modal-cards__decoration-holder {
			top: 0;
		}
	}
	@include tablet {
		.modal-cards__decoration-holder {
			top: 0;
		}
	}
	@include phone {
		.modal-cards__decoration-holder {
			top: 0;
		}
	}
}

.modal-cards__wrap {
	@include desktop {
		max-width: 1080px;
	}
	@include tablet {
		max-width: 480px;
	}
}

.modal-cards__decoration-holder {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	@include desktop {
		top: 150px;
	}
	@include small {
		top: 120px;
	}
}

.modal-cards__decoration {
	position: relative;
}

.modal-cards__line {
	position: absolute;
	width: 3px;
	background-color: $gold;
}

.modal-cards__line--middle {
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.modal-cards__line--left,
.modal-cards__line--right {
	top: 50%;
	transform: translateY(-50%);
	@include desktop {
		height: 32px;
	}
	@include small {
		height: 16px;
	}
}

.modal-cards__line--left {
	left: 0;
}

.modal-cards__line--right {
	right: 0;
}

.modal-cards__heading {
	color: $gold;
	text-align: center;
	@include desktop {
		margin-bottom: 186px;
	}
	@include small {
		margin-bottom: 130px;
	}
}

.modal-cards__cards {
	display: grid;
	@include desktop {
		grid-template-columns: repeat(2, 1fr);
		padding-right: 20px;
		column-gap: 180px;
		row-gap: 162px;
		align-items: start;
		position: relative;
		> :nth-child(even) {
			position: relative;
			top: 120px;
		}
	}
	@include tablet {
		padding-right: 20px;
		row-gap: 121px;
	}
	@include phone {
		row-gap: 120px;
	}
}

.card {
	position: relative;
	z-index: 1;
	box-shadow: 0 21px 38px $black;
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		background-color: $gold;
		pointer-events: none;
	}
	@include animation {
		&::after {
			transition: $transition-primary;
			transition-property: bottom right;
		}
	}
	@include hover {
		&::after {
			bottom: 1px;
			right: 1px;
		}
		.card__icon {
			transform: rotate(90deg);
		}
	}
	@include large {
		&::after {
			height: 120px;
			width: 120px;
			bottom: -20px;
			right: -20px;
		}
	}
	@include phone {
		&::after {
			height: 80px;
			width: 80px;
			bottom: -10px;
			right: -10px;
		}
	}
}

.card--no-image {
	.card__heading {
		font-size: 44px;
		line-height: 50px;
	}
	@include large {
		.card__wrap {
			padding: 70px 48px 124px;
		}
	}
	@include phone {
		.card__wrap {
			padding: 70px 20px 124px;
		}
	}
}

.card__wrap {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background: url('../assets/images/hexagon-background.jpg') center left / cover;
	background-size: 500%;
	@include large {
		padding: 0 48px 72px;
	}
	@include phone {
		padding: 0 20px 72px;
	}
}

.card__button {
	height: calc(100% + 20px);
	width: 100%;
	position: absolute;
	top: -20px;
	left: 0;
	z-index: 2;
}

.card__image {
	transform: translateY(-20px);
	align-self: center;
	margin-bottom: 4px;
	width: auto;
	mask-image: url('../assets/images/rounded-hexagon.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	@include large {
		height: 234px;
		max-width: 264px;
	}
	@include phone {
		height: 260px;
		max-width: 293px;
	}
}

.card__heading {
	color: $gold;
	margin-bottom: 26px;
	font-family: $font-futura;
	font-weight: $light;
	@include large {
		font-size: 56px;
		line-height: 56px;
		letter-spacing: -0.002em;
	}
	@include phone {
		font-size: 36px;
		line-height: 36px;
	}
}

.card__paragraph {
	color: rgba($white, 0.6);
	@include phone {
		font-size: 18px;
		letter-spacing: -0.002em;
		line-height: 28px;
	}
}

.card__icon {
	position: absolute;
	height: 40px;
	width: 40px;
	bottom: 20px;
	right: 20px;
	transform-origin: 50% 50%;
	@include animation {
		transition: $transition-primary;
		transition-property: transform;
	}
}

.card__icon-wrap {
	position: relative;
	height: 100%;
	&::before,
	&::after {
		position: absolute;
		left: 0;
		top: 50%;
		content: '';
		width: 100%;
		height: 2px;
		background-color: $gold;
	}
	&::before {
		transform: translateY(-50%);
	}
	&::after {
		transform: translateY(-50%) rotate(90deg);
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($black, 0.6);
}

.modal__wrap {
	display: flex;
	align-items: center;
	height: 100%;
	@include small {
		padding: 0;
	}
}

.modal__holder {
	background-color: $white;
	display: flex;
	position: relative;
	@include desktop {
		align-items: flex-start;
		max-height: 625px;
		height: 100%;
	}
	@include small {
		height: 100vh;
		flex-direction: column;
	}
}

.modal__button {
	position: absolute;
	right: 30px;
	top: 30px;
	@include small {
		z-index: 3;
	}
}

.modal__icon {
	color: $gold;
	@include desktop {
		font-size: 30px;
	}
	@include small {
		font-size: 20px;
	}
}

.modal__image-wrap {
	position: relative;
	@include desktop {
		min-width: 400px;
		height: 100%;
	}
	@include small {
		height: 540px;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100px;
			width: 100%;
			background: linear-gradient(to bottom, rgba($black, 0.8), rgba($black, 0));
		}
	}
}

.modal__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modal__content {
	max-height: 100vh;
	overflow: auto;
	@include desktop {
		padding: 59px 80px;
	}
	@include small {
		padding: 70px 30px;
	}
}

.modal__heading {
	font-family: $font-futura;
	font-weight: $light;
	font-size: 56px;
	line-height: 56px;
	letter-spacing: -0.002em;
	color: #cca876;
	margin-bottom: 29px;
}

.modal__paragraph {
	font-family: $font-makeshift;
	line-height: 1.5;
	color: $black;
}
