// ========================================
// call-to-action
// ========================================

//  <a class="link-rect" href="javascript:;">
//      Saznajte više
//      <span class="link-rect__line link-rect__line--vertical"></span>
//      <span class="link-rect__line link-rect__line--horizontal"></span>
//  </a>

.link-rect {
	font-family: $font-futura;
	font-weight: 400;
	padding: 17px 25px;
	border: 2px solid $gold;
	min-width: 220px;
	line-height: 1.5;
	text-align: center;
	position: relative;
	color: $white;
	text-transform: uppercase;
	display: inline-block;
	@include animation {
		transition: $transition-primary;
		transition-property: color;
	}
	@include hover {
		color: $gold;
		.link-rect__line--vertical {
			height: 30px;
		}
		.link-rect__line--horizontal {
			width: 30px;
		}
	}
	@include large {
		font-size: 16px;
	}
	@include phone {
		font-size: 14px;
	}
}

.link-rect--black {
	color: $grey-100;
}

.link-rect__line {
	display: inline-block;
	position: absolute;
}

.link-rect__line--vertical {
	width: 2px;
	height: 20px;
	background: linear-gradient(to top, $gold, transparent);
	bottom: 5px;
	right: 5px;
	@include animation {
		transition: $transition-primary;
		transition-property: height;
	}
}

.link-rect__line--horizontal {
	width: 20px;
	height: 2px;
	background: linear-gradient(to left, $gold, transparent);
	bottom: 5px;
	right: 5px;
	@include animation {
		transition: $transition-primary;
		transition-property: width;
	}
}

.link-underline {
	font-family: $font-noto;
	font-size: 14px;
	line-height: 28px;
	background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, $gold, $gold);
	background-size: 100% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
	@include animation {
		transition: $transition-primary;
		transition-property: background-size, color;
	}
	@include hover {
		background-size: 0 0.1em, 100% 0.1em;
		color: $gold;
	}
}

.link-underline--gold {
	color: $gold;
}

.link-underline--bigger {
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.02em;
}

.link-tiny {
	font-size: 12px;
	line-height: 17px;
	color: $white;
	@include animation {
		transition: $transition-primary;
		transition-property: color;
	}
	@include hover {
		color: $white;
	}
}
