// ========================================
// inputs
// ========================================

.input-big {
	border: 1px solid $grey-200;
	background-color: $white;
	font-size: 16px;
	padding: 20px;
}
