// ========================================
// keyframes
// ========================================

@keyframes scroll-line {
	0% {
		transform: translateY(-400%);
	}
	33% {
		transform: translateY(0);
	}
	66% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(400%);
	}
}
