// ========================================
// layout
// ========================================

body {
	position: relative;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

html {
	scrollbar-width: none;
}

.wrap {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}
