// ========================================
// layout
// ========================================

body {
	position: relative;
	-ms-overflow-style: none;
	opacity: 0;
	@include animation {
		transition: $transition-secondary;
		transition-property: opacity;
	}
}

.body--opacity {
	opacity: 1;
}

::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

html {
	scrollbar-width: none;
}

.wrap {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}
