// ========================================
// layout
// ========================================

body {
	position: relative;
	-ms-overflow-style: none;
	opacity: 0;
	@include animation {
		transition: $transition-slow;
		transition-property: opacity;
	}
}

.loaded body {
	opacity: 1;
}

::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

html {
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.wrap {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

.wrap--narrow {
	max-width: 942px;
}

.wrap--ultra-narrow {
	max-width: 744px;
}

.wrap--thin {
	@include large {
		max-width: 660px;
	}
	@include phone {
		max-width: 334px;
	}
}
