// ========================================
// typography
// ========================================

body,
button,
input {
	font-family: $font-default;
}

.bold {
	font-weight: $bold;
}

.h1 {
	font-family: $font-futura;
	font-weight: $light;
	@include desktop {
		font-size: 64px;
		line-height: 70px;
	}
	@include tablet {
		font-size: 40px;
		line-height: 48px;
	}
	@include phone {
		font-size: 30px;
		line-height: 38px;
	}
}

.h2 {
	font-family: $font-futura;
	font-weight: $light;
	line-height: 1em;
	@include large {
		font-size: 56px;
	}
	@include phone {
		font-size: 36px;
	}
}

.h2--mod {
	@include small {
		font-size: 36px;
		line-height: 1.5;
	}
}

.h2--small {
	@include all {
		font-size: 44px;
		line-height: 50px;
	}
}

.h2--large {
	@include all {
		font-size: 56px;
		line-height: 56px;
		letter-spacing: -0.02em;
	}
}

.h3 {
	font-family: $font-futura;
	font-weight: $regular;
	font-size: 24px;
	line-height: 28px;
}

.h3--small {
	@include tablet {
		letter-spacing: 0.02em;
	}
	@include small {
		line-height: 48px;
	}
}

.h4 {
	font-family: $font-makeshift;
	font-size: 1.17em;
	line-height: 1.5;
}

.paragraph-large {
	font-family: $font-futura;
	font-weight: $light;
	@include desktop {
		font-size: 24px;
		line-height: 32px;
	}
	@include tablet {
		font-size: 20px;
		line-height: 32px;
	}
}

.paragraph-default {
	line-height: 1.5;
	@include large {
		font-size: 18px;
	}
	@include phone {
		font-size: 16px;
	}
}

.paragraph-default--larger {
	@include large {
		line-height: 28px;
	}
	@include phone {
		font-size: 18px;
		line-height: 28px;
	}
}

.paragraph-default--bold {
	letter-spacing: -0.02em;
	font-weight: $bold;
}

.paragraph-big {
	font-family: $font-futura;
	font-weight: $light;
	font-size: 24px;
	line-height: 1.5em;
}

.paragraph-small {
	font-family: $font-noto;
	font-size: 14px;
	line-height: 28px;
}
